<ion-content>
  <ion-item>
    <ion-label color="primary">De:</ion-label>
    <ion-input id="from" placeholder="De" type="tel"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label color="primary">Hasta:</ion-label>
    <ion-input id="to" placeholder="Hasta" type="tel" [(ngModel)]="to"></ion-input>
  </ion-item>
  <div #map id="map"></div>
  <button ion-button full (click)="searchBus()">Buscar</button>
</ion-content>
